/*BUTTONS*/

.btn {
  text-transform: uppercase;
  letter-spacing: 0.075em;

  &.btn-link {
    font-weight: 500; // SemiBold
    letter-spacing: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    display: inline-block;
    text-transform: none;

    &:hover {
      color: $gray-500 !important;
      text-decoration: none;
    }

    &.btn-lg {
      font-size: $font-size-lg;

      @include media-breakpoint-down(sm) {
        font-size: $font-size-base;
      }
    }

    &.btn-md {
      font-size: $font-size-base;
    }

    &:focus {
      box-shadow: none;
    }
  }

  &.forward {
    text-transform: uppercase;

    &::after {
      font-family: "Font Awesome 5 Pro";
      content: "\f105"; // far angle-right
      font-size: 100%;
      font-weight: 400;
      margin-left: .5rem;
    }
  }

  &.back {
    text-transform: uppercase;

    &::before {
      font-family: "Font Awesome 5 Pro";
      content: "\f104"; // far angle-left
      font-size: 100%;
      font-weight: 400;
      margin-right: .5rem;
    }
  }

  &.btn-lg:not(.btn-link) {
    @include media-breakpoint-down(sm) {
      padding: 0.65rem 1.5rem;
      font-size: .785rem;
    }
  }
}

/*LINKS*/
a.teaser-link {
  font-size: 0.765rem;
  @media (min-width: 576px) {
    font-size: 0.875rem;
  }
  font-weight: 600;
  letter-spacing: .01em;

  &:hover {
    color: $gray-500;
    text-decoration: none;
  }
}

a.teaser-link-l {
  font-size: 0.875rem;
  @media (min-width: 576px) {
    font-size: 1rem;
  }
  font-weight: 600;
  letter-spacing: 0;

  &:hover {
    color: $gray-500;
    text-decoration: none;
  }
}

a.cross-link {
  font-size: 1rem;
  @media (min-width: 576px) {
    font-size: 1.21rem;
  }
  font-weight: 500; // Medium
  letter-spacing: 0;
  text-decoration: none;

  &::after {
    font-family: "Font Awesome 5 Pro";
    content: "\f105"; // far angle-right
    font-size: 85%;
    font-weight: 400;
    margin-left: .5rem;
  }

  &:hover {
    color: $gray-500;
  }
}

.smaller-btn {
  .btn,
  &.btn {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

.block-btn {
  display: block !important;

  .btn,
  &.btn {
    display: block;
  }
}