.cal-club-body {
  h1, .h1 {
    font-size: 48px;
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-normal;
    letter-spacing: -0.857143px;
  }
}

.cal-clubhead {
  background-color: $clubgrau;

  &.cal-clubhead-big {
    padding-bottom: 142px;

    .cal-clubhead-logowrapper {
      padding-bottom: 88px;
    }

    .cal-clubhead-content {
      .ce_text {
        p {
          font-family: $font-family-sans-serif;
          font-size: 36px;
          font-weight: 400;
          line-height: 1.25;
        }
      }
    }
  }

  &.cal-clubhead-small {
    .cal-clubhead-logowrapper {
      padding-bottom: 88px;
    }

    .cal-clubhead-content {
      .ce_text {
        padding-bottom: 3rem;

        p {
          font-family: $font-family-sans-serif;
          font-size: 20px;
          font-weight: 400;
          line-height: 1.25;
        }
      }
    }
  }

  .cal-clubhead-logowrapper {
    padding-top: 7px;
    padding-left: 168px;
    padding-bottom: 46px;
  }

  .cal-clubhead-logo {
  }

  .cal-clubhead-name {
    font-size: 14px;
    font-family: $headings-font-family;
    font-weight: 600;
  }
}

.cal-search {
  form {
    max-width: 259px;
  }

  .form-control {
    padding-left: 50px;
    border-width: 2px;
  }

  button {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 21px;
    color: $gray-500;
    height: 33px;
    width: 33px;
    padding: 0;
    text-align: right !important;
  }
}

.cal-accountnav {
  .navbar-nav {
    .nav-item {
      align-items: center !important;
      display: flex !important;

      .nav-link {
        font-size: 14px !important;
        font-weight: 600 !important;
        text-transform: none !important;
        display: inline-block;
        padding-right: 8px !important;
      }

      &::after {
        font-family: "Font Awesome 5 Pro";
        color: $primary;
        font-size: 16px;
        font-weight: 400;
      }

      &.last {
        margin-left: 1rem;
      }

      &.Account {
        &::after {
          content: "\f007";
        }
      }

      &.Logout {
        &::after {
          content: "\f08b";
        }
      }
    }
  }
}

.cal-clubstart {
  padding-top: 1px !important;
  background: #2c9bb9;
  background: -moz-linear-gradient(top,  #2c9bb9 0%, #d7e5e8 100%);
  background: -webkit-linear-gradient(top,  #2c9bb9 0%,#d7e5e8 100%);
  background: linear-gradient(to bottom,  #2c9bb9 0%,#d7e5e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c9bb9', endColorstr='#d7e5e8',GradientType=0 );

  > .container {
    margin-top: -112px;
  }
}

.cal-club-accountmenu {
  .nav-item {
    display: block;
    width: 100%;
  }
}

/* Artikel START */

.cal-artikel-short {
  .news-teaser-img {
    figure {
      float: none !important;
      width: 100%;
      max-width: none !important;
      padding: 0 !important;

      img {
        width: 100%;
        height: auto;
      }

      .caption {
        font-family: $headings-font-family;
        font-size: 13.5px;
        font-weight: 500;
      }
    }
  }
}

.cal-artikel-latest {
  .news-teaser-img {
    figure {
      float: none !important;
      width: 100%;
      max-width: none !important;
      padding: 0 !important;

      img {
        width: 100%;
        height: auto;
      }

      .caption {
        font-family: $headings-font-family;
        font-size: 13.5px;
        font-weight: 500;
      }
    }
  }
}

.cal-artikel-maintext {
  .ce_text {
    margin-bottom: 2rem;

    h4 {
      font-family: $font-family-sans-serif;
      font-weight: $font-weight-normal;
      margin-bottom: 2rem;
    }
  }
}

.mod_newslist {
  .cal-artikel-simple {
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}


/* Artikel END */

/* E-Learning START */

.cal-elearning-short {
  .news-teaser-img {
    figure {
      float: none !important;
      width: 100%;
      max-width: none !important;
      padding: 0 !important;

      img {
        width: 100%;
        height: auto;
      }

      .caption {
        font-family: $headings-font-family;
        font-size: 13.5px;
        font-weight: 500;
      }
    }
  }
}

.cal-elearning-latest {
  .news-teaser-img {
    figure {
      float: none !important;
      width: 100%;
      max-width: none !important;
      padding: 0 !important;

      img {
        width: 100%;
        height: auto;
      }

      .caption {
        font-family: $headings-font-family;
        font-size: 13.5px;
        font-weight: 500;
      }
    }
  }
}

.cal-elearning-maintext {
  .ce_text {
    margin-bottom: 2rem;

    h4 {
      font-family: $font-family-sans-serif;
      font-weight: $font-weight-normal;
      margin-bottom: 2rem;
    }
  }
}

.mod_newslist {
  .cal-elearning-simple {
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}


/* E-Learning END */

/* Podcast START */

.cal-podcast-latest {
  .news-teaser-img {
    figure {
      float: none !important;
      width: 100%;
      max-width: none !important;
      padding: 0 !important;

      img {
        width: 100%;
        height: auto;
      }

      .caption {
        font-family: $headings-font-family;
        font-size: 13.5px;
        font-weight: 500;
      }
    }
  }
}

.cal-podcast-short {
  .news-teaser-img {
    figure {
      float: none !important;
      width: 100%;
      max-width: none !important;
      padding: 0 !important;

      img {
        width: 100%;
        height: auto;
      }

      .caption {
        font-family: $headings-font-family;
        font-size: 13.5px;
        font-weight: 500;
      }
    }
  }
}

.cal-podcast-maintext {
  .huh_video {
    margin-bottom: 2rem;
  }

  .ce_text {
    margin-bottom: 2rem;

    h4 {
      font-family: $font-family-sans-serif;
      font-weight: $font-weight-normal;
      margin-bottom: 2rem;

      &::before {
        content: "»";
      }

      &::after {
        content: "«";
      }
    }
  }
}

/* Podcast END */


.side-grid-club {
  padding-top: 1rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border-top: 1px solid #A3A3A3;
    left: 1rem;
    right: 1rem;
    top: 0;
  }

  h3 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.33px;
    margin-bottom: 2.5rem !important;
  }
}

/* Poll */

.poll_default {
  .results_link {
    @extend .btn;
    @extend .btn-light;
  }

  .widget-checkbox {
    .checkbox_container {
      > span {
        @extend .custom-control;
        @extend .custom-checkbox;
        @extend .d-flex;
        @extend .align-items-center;

        > input {
          @extend .custom-control-input;
        }

        > label {
          @extend .custom-control-label;
          cursor: pointer;
        }
      }
    }
  }

  .vote_link {
    @extend .btn;
    @extend .btn-dark;
    margin-top: 1rem;
  }
}

/* Menu NAV */

.cal-club-menu {
  .nav-link {
    font-family: $headings-font-family;
    font-weight: 700;
  }
}

/* Clubbox */

.caImageHa {
  height: auto;
}
.caImageHb {
  height: 180px;
}
.caImageHc {
  height: 360px;
}
.caImageHd {
  height: 540px;
}

.caSVGHa {
  height: auto;
}
.caSVGHb {
  height: 64px;
}
.caSVGHc {
  height: 128px;
}
.caSVGHd {
  height: 256px;
}
