/*// Regular
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../webfonts/barlow-v5-latin-ext_latin-regular.eot");
  src: local(""), url("../webfonts/barlow-v5-latin-ext_latin-regular.eot?#iefix") format("embedded-opentype"), url("../webfonts/barlow-v5-latin-ext_latin-regular.woff2") format("woff2"), url("../webfonts/barlow-v5-latin-ext_latin-regular.woff") format("woff"), url("../webfonts/barlow-v5-latin-ext_latin-regular.ttf") format("truetype"), url("../webfonts/barlow-v5-latin-ext_latin-regular.svg#Barlow") format("svg")
}*/

// Medium
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  src: url("../webfonts/barlow-v5-latin-ext_latin-500.eot");
  src: local(""), url("../webfonts/barlow-v5-latin-ext_latin-500.eot?#iefix") format("embedded-opentype"), url("../webfonts/barlow-v5-latin-ext_latin-500.woff2") format("woff2"), url("../webfonts/barlow-v5-latin-ext_latin-500.woff") format("woff"), url("../webfonts/barlow-v5-latin-ext_latin-500.ttf") format("truetype"), url("../webfonts/barlow-v5-latin-ext_latin-500.svg#Barlow") format("svg")
}

// Semi-bold
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  src: url("../webfonts/barlow-v5-latin-ext_latin-600.eot");
  src: local(""), url("../webfonts/barlow-v5-latin-ext_latin-600.eot?#iefix") format("embedded-opentype"), url("../webfonts/barlow-v5-latin-ext_latin-600.woff2") format("woff2"), url("../webfonts/barlow-v5-latin-ext_latin-600.woff") format("woff"), url("../webfonts/barlow-v5-latin-ext_latin-600.ttf") format("truetype"), url("../webfonts/barlow-v5-latin-ext_latin-600.svg#Barlow") format("svg")
}

/*// Bold
!*@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url("../webfonts/barlow-v5-latin-ext_latin-700.eot");
  src: local(""), url("../webfonts/barlow-v5-latin-ext_latin-700.eot?#iefix") format("embedded-opentype"), url("../webfonts/barlow-v5-latin-ext_latin-700.woff2") format("woff2"), url("../webfonts/barlow-v5-latin-ext_latin-700.woff") format("woff"), url("../webfonts/barlow-v5-latin-ext_latin-700.ttf") format("truetype"), url("../webfonts/barlow-v5-latin-ext_latin-700.svg#Barlow") format("svg")
}*!*/

// Extra-Bold
/*@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 800;
  src: url("../webfonts/barlow-v5-latin-ext_latin-800.eot");
  src: local(""), url("../webfonts/barlow-v5-latin-ext_latin-800.eot?#iefix") format("embedded-opentype"), url("../webfonts/barlow-v5-latin-ext_latin-800.woff2") format("woff2"), url("../webfonts/barlow-v5-latin-ext_latin-800.woff") format("woff"), url("../webfonts/barlow-v5-latin-ext_latin-800.ttf") format("truetype"), url("../webfonts/barlow-v5-latin-ext_latin-800.svg#Barlow") format("svg")
}*/




@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 400;
  src: url("../webfonts/noto-serif-v11-latin-ext_latin-regular.eot");
  src: local(""), url("../webfonts/noto-serif-v11-latin-ext_latin-regular.eot?#iefix") format("embedded-opentype"), url("../webfonts/noto-serif-v11-latin-ext_latin-regular.woff2") format("woff2"), url("../webfonts/noto-serif-v11-latin-ext_latin-regular.woff") format("woff"), url("../webfonts/noto-serif-v11-latin-ext_latin-regular.ttf") format("truetype"), url("../webfonts/noto-serif-v11-latin-ext_latin-regular.svg#NotoSerif") format("svg")
}

@font-face {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 400;
  src: url("../webfonts/noto-serif-v11-latin-ext_latin-italic.eot");
  src: local(""), url("../webfonts/noto-serif-v11-latin-ext_latin-italic.eot?#iefix") format("embedded-opentype"), url("../webfonts/noto-serif-v11-latin-ext_latin-italic.woff2") format("woff2"), url("../webfonts/noto-serif-v11-latin-ext_latin-italic.woff") format("woff"), url("../webfonts/noto-serif-v11-latin-ext_latin-italic.ttf") format("truetype"), url("../webfonts/noto-serif-v11-latin-ext_latin-italic.svg#NotoSerif") format("svg")
}

@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  src: url("../webfonts/noto-serif-v11-latin-ext_latin-700.eot");
  src: local(""), url("../webfonts/noto-serif-v11-latin-ext_latin-700.eot?#iefix") format("embedded-opentype"), url("../webfonts/noto-serif-v11-latin-ext_latin-700.woff2") format("woff2"), url("../webfonts/noto-serif-v11-latin-ext_latin-700.woff") format("woff"), url("../webfonts/noto-serif-v11-latin-ext_latin-700.ttf") format("truetype"), url("../webfonts/noto-serif-v11-latin-ext_latin-700.svg#NotoSerif") format("svg")
}

@font-face {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 700;
  src: url("../webfonts/noto-serif-v11-latin-ext_latin-700italic.eot");
  src: local(""), url("../webfonts/noto-serif-v11-latin-ext_latin-700italic.eot?#iefix") format("embedded-opentype"), url("../webfonts/noto-serif-v11-latin-ext_latin-700italic.woff2") format("woff2"), url("../webfonts/noto-serif-v11-latin-ext_latin-700italic.woff") format("woff"), url("../webfonts/noto-serif-v11-latin-ext_latin-700italic.ttf") format("truetype"), url("../webfonts/noto-serif-v11-latin-ext_latin-700italic.svg#NotoSerif") format("svg")
}
