.bottom-art {
  padding: 65px 0 !important;
  text-align: center;

  @include media-breakpoint-down(sm) {
    padding: 45px 0 !important;
  }

  .ce_hyperlink {
    &.block {
      display: inline-block;
      padding-top: 0;
      margin-top: 0;
    }
  }
}

footer {
  background-color: $gray-600;
  color: $white;
  font-size: 0.8125rem;
  font-weight: 600; // Semibold
  letter-spacing: 0.2px;
  padding: 25px 0 25px 0;
  text-align: center;
  font-family: $headings-font-family;

  a {
    color: $white;
    font-family: $headings-font-family;
    font-size: 0.8125rem;
    font-weight: 600; // Semibold
    letter-spacing: 0.2px;

    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }

  ul {
    padding: 0 0 25px 0;
    -ms-flex-pack: center !important;
    justify-content: center !important;

    @include media-breakpoint-down(sm) {
      columns: 2;
      display: block !important;
      text-align: left;
    }


    li {
      a.nav-link,
      strong {
        font-weight: 600; // Semibold
        padding: 0 1rem !important;

        @include media-breakpoint-down(sm) {
          padding: 0 !important;
        }

        &:hover {
          color: $white;
          text-decoration: underline !important;
        }
      }

      strong  {
        text-decoration: underline;
      }
    }
  }
}

.footer-text {
  font-family: $font-family-base;
  font-weight: 500; // Semibold
  letter-spacing: 0.2px;
  text-align: center;
  color: white;
  padding: .25rem;

  p, a:not(.btn) {
    font-size: 0.8125rem;
    color: white !important;
  }

  p {
    br {
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  font-size: 28px;
  color: $primary;

  &:hover {
    color: rgba($primary, .5);
  }
}