label {
  font-family: $font-family-sans-serif;
  font-weight: 400; // Regular
  font-size: 0.765rem;

  @media (min-width: 576px) {
    font-size: 0.875rem;
  }

  color: $body-color;
}

.form-control {
  font-family: $font-family-sans-serif;
  font-weight: 400; // Regular
  font-size: 0.875rem;

  @media (min-width: 576px) {
    font-size: 1rem;
  }
}

.form-control:focus {
  border: 3px solid $success;
  box-shadow: none;
}