.navbar {
  padding: 0;
  height: 65px;

  @include media-breakpoint-down(md) {
    height: auto;
  }

  .navbar-brand {
    padding: 0;
    margin-bottom: -64px;
    max-width: 120px;
    height: auto;
    z-index: 1001;

    img {
      max-width: 120px;
      width: 120px;
      height: auto;
    }

    @include media-breakpoint-only(md) {
      margin-bottom: -36px;

      img {
        max-width: 80px;
      }
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: -40px;

      img {
        max-width: 80px;
      }
    }
  }

  .navbar-collapse {
    @include media-breakpoint-up(lg) {
      margin-left: 20px;
    }

    @include media-breakpoint-down(md) {
      margin-right: 1rem;
    }

    .navbar-nav {
      .nav-item {
        padding: 0;

        .nav-link {
          font-size: 0.935rem;
          font-weight: 500; // Medium
          font-family: $headings-font-family;
          text-transform: uppercase;
          letter-spacing: 0.33px;
          color: $primary;
          text-decoration: none;
          padding: 10px 12px;

          &::after {
            display: none;
          }

          &:hover {
            color: $gray-500;
          }
        }

        &.active {
          .nav-link {
            color: $gray-500;

            &.dropdown-toggle {
              cursor: pointer;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      .dropdown-menu {
        @include media-breakpoint-up(lg) {
          border-radius: 0;
          border: 0 none;
          box-shadow: 0 5px 10px -5px rgba($black, .5);
          margin-left: -44px;
          padding: 17px 0;

          .dropdown-item {
            font-family: $headings-font-family;
            font-size: 15px;
            font-weight: 500;
            color: $primary;
            padding: 10px 54px;

            &::after {
              content: "\f105";
              font-family: "Font Awesome 5 Pro";
              font-weight: 300;
              margin-left: 10px;
            }

            &.active,
            &:active {
              color: $gray-500;
              background-color: white;
            }
          }
        }

        @include media-breakpoint-down(md) {
          border: 0 none;

          .dropdown-item {
            font-family: $headings-font-family;
            font-size: 15px;
            font-weight: 500;
            color: $primary;
            padding: 10px 12px;
            text-align: right;

            &.active,
            &:active {
              color: $gray-500;
              background-color: white;
            }
          }
        }
      }
    }

    .mod_changelanguage {
      margin-left: 15px;
      @extend .d-flex;

      @include media-breakpoint-down(md) {
        -ms-flex-pack: end !important;
        justify-content: flex-end !important;
      }

      a {
        font-size: 0.935rem;
        font-weight: 500; // Medium
        text-transform: uppercase;
        font-family: $headings-font-family;
        letter-spacing: 0.33px;
        color: $primary;
        text-decoration: none;
        padding: 10px 12px;

        &.active {
          cursor: default;
          color: $gray-500;
        }

        &:hover {
          color: $gray-500;
        }
      }
    }

    @include media-breakpoint-down(md) {
      text-align: right;
    }
  }
}