.leistung {
  .leistung-headline {
    font-size: $h4-font-size;
    margin-bottom: 22px !important;
  }

  a.stretched-link {
    &::after {
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }

    &:hover {
      &::after {
        -webkit-box-shadow: 0 0 40px 0 rgba($primary,.5);
        box-shadow: 0 0 40px 0 rgba($primary,.5);
      }
    }
  }

  small {
    font-weight: 600;
    font-size: $font-size-sm;
  }
}