.modal {
  .modal-dialog {
    &.modal-xl {
      .modal-content {
        padding: 20px 80px;

        @include media-breakpoint-only(lg) {
          padding: 10px 40px;
        }
        @include media-breakpoint-down(md) {
          padding: 5px 20px;
        }
        @include media-breakpoint-down(sm) {
          padding: 0;
        }
      }
    }

    .modal-header,
    .modal-footer {
      border: 0;
    }

    button.close {
      font-size: 48px;
      color: $primary;
      position: absolute;
      right: 30px;
      opacity: 1;
    }
  }
}