.cal-start {
  bottom: 0;
  left: 0;
  right: 0;

  .cal-start-bg {
    background-color: rgba($gray-100, 0.91);
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;

    .image_container {
      padding: 58px;
    }
  }

  @include media-breakpoint-only(md) {
    .cal-start-bg {
      .image_container {
        padding:20px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .cal-start-bg {
      .image_container {
        padding:15px;
      }
    }
  }
}

.cal-start-img {
  margin-top: -66px;

  @include media-breakpoint-down(sm) {
    margin-top: 0;

    .image_container {
      padding: 15px 50px 0 50px;

      img {
        max-width: 200px;
      }
    }
  }
}

.leistungen-small {
  border-bottom: 4px solid $white;
  margin: 0 -2px !important;

  @include media-breakpoint-down(md) {
    border: none;
    margin-bottom: 20px;
  }

  .leistung-small {
    border-left: 2px solid $white;
    border-right: 2px solid $white;
    @extend .w-100;

    @include media-breakpoint-down(md) {
      border: none;
      margin-bottom: 0 !important;
    }

    > a {
      @extend .w-100;
    }

    .img {
      position: relative;
      overflow: hidden;
      height: 150px;
      background-position: center;
      background-size: cover;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 56px;
        margin: -30px -30px 0 -30px;
        border-bottom: 3px solid $white;

        background-color: $gray-100;

        -moz-transform: rotate(-12deg);
        -ms-transform: rotate(-12deg);
        -o-transform: rotate(-12deg);
        -webkit-transform: rotate(-12deg);

        transform: rotate(-12deg);
      }

      @include media-breakpoint-down(lg) {
        border-bottom: 4px solid $white;

        &::before {
          -moz-transform: rotate(-5deg);
          -ms-transform: rotate(-5deg);
          -o-transform: rotate(-5deg);
          -webkit-transform: rotate(-5deg);

          transform: rotate(-5deg);
        }
      }
    }

    h4 {
      font-size: 18px;
      padding: 30px 0 5px 0;
      margin-bottom: 0;

      @include media-breakpoint-only(xs) {
        font-size: 14px;
      }
    }

    &.special {
      .img {
        &::before {
          background-color: $primary;
        }
      }

      h4 {
        background-color: $primary;
        color: $white;
      }
    }
  }
}