.kat_reset {
  ul {
    li {
      display: none;
      list-style: none;

      > strong {
        display: none;
      }

      &.reset {
        display: block;

        > strong {
          display: inline-block;
        }
      }
    }
  }
}

.stellenangebote_list {
  background-color: $gray-500;

  &:nth-of-type(3n+2) {
    background-color: $light;
  }

  &:nth-of-type(3n+3) {
    background-color: $white;
  }

  h2 {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }

  .categories_short {
    li {
      display: none;

      &.region {
        display: block;
      }
    }
  }
}


.stellenangebote_detail_head {
  padding: 60px 0;

  h1 {
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    padding: 0 !important;
  }
}

.stellenangebote_detail {
  .categories_short {
    li {
      display: none;

      &.region {
        display: block;
      }
    }
  }
}