.themen_primary,
.themen_secondary {
  .news-headline {
    border-top: 1px solid $gray-600;
    padding-top: 10px;

    h3 {
      font-weight: 500;
      color: $dark;
      font-size: $font-size-base;

      @include media-breakpoint-down(sm) {
        font-size: $font-size-sm;
        margin-bottom: 3px !important;
      }
    }

    h2 {
      font-weight: 600;
      font-size: 32px;

      @include media-breakpoint-down(sm) {
        font-size: $h4-font-size;
      }

      a {
        color: $dark;
      }
    }
  }

  .ce_text {
    a {
      font-family: $headings-font-family;
      font-weight: 600;
      font-size: $font-size-sm;
    }

    strong {
      a {
        @extend .btn;
        @extend .btn-primary;
        @extend .btn-lg;
      }
    }
  }
}

.themen_primary {
  .news-teaser-img {
    figure {
      float: none !important;
    }

    img {
      width: 85% !important;
      height: auto !important;
    }
  }
}

.themen_secondary {
  .news-teaser-img {
    margin-right: 30px;
    margin-bottom: 20px;
    float: left;

    figure {
      float: none !important;
    }

    img {
      width: 160px !important;
      height: auto !important;
    }
  }
}