/*TYPE*/

// HEADINGS

h1, .h1 {
  font-weight: $font-weight-semibold; // Semibold
  font-size: $h1-font-size;
  margin-left: -2px;
  word-spacing: -0.01em;
  letter-spacing: 0.1px;
  @include hyphenation;

  @include media-breakpoint-down(sm) {
    margin-left: 0;
  }
}


h2, .h2 {
  font-weight: $font-weight-semibold; // Semibold
  font-size: $h2-font-size;
  letter-spacing: 0.33px;
  margin-left: -2px;

  @include media-breakpoint-down(sm) {
    margin-left: 0;
  }

  &.portrait {
    text-transform: none;
    word-spacing: -0.01em;
    letter-spacing: 0;
  }

  &.teaser {
    text-transform: none;
    word-spacing: -0.01em;
    letter-spacing: 0;
  }
}

h3, .h3 {
  font-weight: 600; // Semibold
  font-size: $h3-font-size;

  &.block {
    font-weight: 500; // Medium
    text-transform: uppercase;
    letter-spacing: 0.33px;
    border-top: 1px solid $body-color;
    padding-top: 9px;
  }

  &.teaser {
    font-weight: 600; // Semibold
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}


h4 {
  font-size: $h4-font-size;
  font-weight: 600; // Semibold

  @include media-breakpoint-down(md) {
    font-size: $font-size-lg !important;
  }
}

.headline_line {
  font-size: $font-size-base;
  text-transform: uppercase;
  font-weight: 500;
  border-top: 1px solid $secondary;
  margin-top: 0;
  padding-top: 10px;

  &.headline_topspace {
    margin-top: 97px;

    @include media-breakpoint-down(md) {
      margin-top: 35px;
    }
  }
}

.fs-44 {
  font-size: 2.5rem;
  font-family: $font-family-sans-serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: -0.86px;
  line-height: 1.15;

  @include media-breakpoint-only(lg) {
    font-size: 42px;
  }
  @include media-breakpoint-only(md) {
    font-size: 36px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 30px;
  }
}

.fs-32 {
  font-size: 32px !important;

  @include media-breakpoint-down(md) {
    font-size: $h4-font-size !important;
  }

  p {
    font-size: 32px !important;

    @include media-breakpoint-down(md) {
      font-size: $h4-font-size !important;
    }
  }
}

.fs-24 {
  font-size: 24px !important;
}

.fs-20 {
  font-size: $h4-font-size !important;

  @include media-breakpoint-down(md) {
    font-size: $font-size-base !important;
  }


  p {
    font-size: $h4-font-size !important;
    font-weight: 400;
    margin-right: 2em;
    margin-left: -2px;

    @include media-breakpoint-only(md) {
      font-size: $font-size-base !important;
    }
    @include media-breakpoint-down(sm) {
      font-size: .895rem !important;
      margin-left: 0;
    }
  }

  &.btn {
    font-size: 1rem !important;
    font-weight: 600 !important;
    margin-left: -2px;
    padding: 0 !important;
    border: 0 !important;
  }
}

.fs-16 {
  font-size: $font-size-base !important;

  p {
    font-size: $font-size-base !important;
  }

  &.btn:not(.btn-link) {
    font-weight: 600 !important;
    letter-spacing: .01em !important;
    font-size: .875rem !important;
    padding: 0 !important;
    border: 0 !important;
  }
}

.fs-14 {
  font-size: 14px !important;

  p {
    font-size: 14px !important;
    font-weight: 400;
    letter-spacing: .01em;
  }
}

.fs-12 {
  font-size: $font-size-sm !important;

  p {
    font-size: $font-size-sm !important;
    font-weight: 400;
    letter-spacing: .01em;
  }
}

b, strong {
  font-weight: 600;
}

.font-family-ss {
  font-family: $headings-font-family;

  p {
    font-family: $headings-font-family;
  }
}

.font-family-accent {
  font-family: $font-family-sans-serif;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semibold {
  font-weight: 600;
}

.font-size-sm {
  font-size: $font-size-sm;

  > p {
    font-size: inherit;
  }
}
.font-size-base {
  font-size: $font-size-base;

  > p {
    font-size: inherit;
  }
}
.font-size-md {
  font-size: $font-size-md;

  > p {
    font-size: inherit;
  }
}
.font-size-lg {
  font-size: $font-size-lg;

  > p {
    font-size: inherit;
  }
}

.display-1 {
  margin-left: -9px;
  word-spacing: -0.04em;
  letter-spacing: -3px;
}

// Reserve
.display-2 {
  font-size: 48px;
  line-height: 1.104;
}

// Reserve
.display-3 {
  margin-left: -7px;
  word-spacing: -0.02em;
  letter-spacing: -2px;
}

// Reserve
.display-4 {
  margin-left: -5px;
  word-spacing: -0.01em;
  letter-spacing: -1px;
}

// FA UL
.fa-ul {
  &.fa-ul-lg {
    padding-top: 2em;
    margin-left: 2.0em;

    @include media-breakpoint-down(sm) {
      padding-top: 1em;
    }

    li {
      padding-bottom: 15px;

      @include media-breakpoint-down(sm) {
        padding-bottom: 10px;
      }
    }

    .fa-li {
      font-size: 20px;

      @include media-breakpoint-down(sm) {
        font-size: 1rem;
      }

      i {
        vertical-align: text-top;
      }
    }
  }
}

.line-height-11 {
  line-height: 1.108;
}

.line-height-12 {
  line-height: 1.2;
}

p > a:not(.btn) {
  color: $link-color !important;

  &:hover {
    color: $link-hover-color !important;
  }
}

a:not(.btn) {
  &.btn-ext {
    &::after {
      content: " \f35d";
      font-size: 1em;
      margin: 0 3px 0 0;
      font-family: "Font Awesome 5 Pro";
    }
  }
}

.ce_hyperlink {
  &.block {
    @include media-breakpoint-down(md) {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
}