/*HELPERS*/
@mixin hyphenation {
  hyphens: manual;
  @media (max-width: 575.98px) {
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
}

// Bootstrap and its default variables
@import "bootstrap";
@import "module/fonts";
@import "module/typo";
@import "module/buttons";
@import "module/modal";
@import "module/forms";
@import "module/header";
@import "module/footer";
@import "module/startseite";
/*@import "module/stellen";*/
@import "module/leistungen";
@import "module/themen";
@import "module/termine";
@import "fa-scss/fontawesome.scss";
/*@import "fa-scss/solid";*/
@import "fa-scss/regular";
@import "fa-scss/light";
@import "fa-scss/brands";

@import "module/club";


/*Color Helpers*/
.text-aktivgrau {
  color: $gray-500;
}

.bg-aktivgrau {
  background-color: $gray-500;
}

.text-mittelblau {
  color: $mittelblau;
}

.bg-hellblau {
  background-color: $clubblau;
}

.bg-hellgrau {
  background-color: $clubgrau;
}

.bg-mittelblau {
  background-color: $mittelblau;
}

.text-dunkelblau {
  color: $dunkelblau;
}

.bg-dunkelblau {
  background-color: $dunkelblau;
}

.text-dunkelorange {
  color: $dunkelorange;
}

.bg-dunkelorange {
  background-color: $dunkelorange;
}

.invisible {
  display: none;
}

abbr {
  hyphens: manual;
}

// FAQ
.frage {
  font-family: $headings-font-family;
  font-weight: 700; // Bold
  font-style: italic;
  font-size: 0.875rem;
  @media (min-width: 576px) {
    font-size: 1rem;
  }
  margin-bottom: 0;
  @include hyphenation;
}

.antwort {
}

// Globals

html,
body {
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-light;

  @include media-breakpoint-down(sm) {
    font-size: 0.96rem;
    line-height: 1.35;
  }
}

.mt-0.ce_text {
  > h2 {
    margin-top: 0 !important;
  }
}

.mb-25.ce_text {
  > h1 {
    margin-bottom: 25px !important;
  }
}

.ce_hyperlink {
  &.block {
    display: inline-block;
    margin-top: 10px;
    padding-top: 20px;

    @include media-breakpoint-down(sm) {
      padding-bottom: 10px;
      margin-bottom: 5px;
    }
  }
}

h1 {
  margin-bottom: 35px !important;
}

h2 {
  margin-top: 0 !important;
  margin-bottom: 25px !important;
}

h3 {
  margin-top: 0 !important;
  margin-bottom: 10px !important;
}

@include media-breakpoint-only(lg) {
  h1, h2 {
    font-size: 30px;
    margin-bottom: 30px !important;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 26px;
  }
}

@include media-breakpoint-only(md) {
  h1, h2 {
    font-size: 26px;
    margin-bottom: 26px !important;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 22px;
  }
}

@include media-breakpoint-down(sm) {
  h1, h2 {
    font-size: 20px;
    margin-bottom: 15px !important;
    line-height: 1.1;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 17px;
  }
}

p {
  font-family: $font-family-sans-serif;
  font-size: 0.875rem;
  @media (min-width: 576px) {
    font-size: 1rem;
  }
  @include hyphenation;
}

p > a {
  color: lighten($primary, 10%);
  text-decoration: none;

  &:hover {
    color: $gray-500;
  }
}

.copy-s {
  font-family: $font-family-sans-serif;
  font-weight: 400; // Regular
  font-size: 0.765rem;
  @media (min-width: 576px) {
    font-size: 0.875rem;
  }
  letter-spacing: .01em;
}

.copy-m {
  font-family: $font-family-sans-serif;
  font-weight: 400; // Regular
}

.copy-l {
  font-size: 1rem;
  @media (min-width: 576px) {
    font-size: 1.25rem;
  }
  font-weight: 400; // Regular
  margin-right: 2em;
  margin-left: -2px;
  @media (max-width: 575.98px) {
    margin-right: 0;
    @include hyphenation;
  }
}


b {
  font-weight: 600;
}

mark, .mark {
  color: $body-color;
  font-weight: 600;
}

abbr {
  letter-spacing: .02em;
  text-transform: uppercase;
  border: none;
}

.text-muted {
  color: rgba($body-color, .25) !important;
}

p {
  padding-bottom: 0.25rem;
  margin-bottom: 10px;

  @include media-breakpoint-down(sm) {
    padding-bottom: 10px;
    margin-bottom: 5px;
  }

  &:last-child,
  &:last-of-type {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;

    @include media-breakpoint-down(sm) {
      padding-bottom: 10px !important;
      margin-bottom: 5px !important;
    }
  }
}

.ce_text {
  > ul {
    margin-left: -1.2rem;
  }
}

.main-art {
  padding: 55px 0;

  @include media-breakpoint-only(md) {
    padding: 35px 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 15px 0;
  }
}

.more.btn {
  a {
    color: $white;
  }

  &:last-child,
  &:last-of-type {
    padding-bottom: 10px;
  }
}

.bg_dark {
  background-color: $gray-500;
}

.bg_medium {
  background-color: $dark;
}

.bg_lighter {
  background-color: $gray-300;
}

.bg_light {
  background-color: $light;
}

.bg_red {
  background-color: $red;
  color: $white;

  p {
    color: $white;
  }

  .btn-primary {
    background-color: $secondary;
  }
}

.ce_image {
  .image_container {
    margin: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  &.pic-orig {
    .image_container {
      img {
        width: auto;
        margin-bottom: 20px;
      }
    }
  }

  &.pic-neg-top {
    .image_container {
      z-index: 0;
      margin-top: -30px;
      position: relative;

      img {
        max-width: 397px;
      }

      @include media-breakpoint-down(sm) {
        margin-top: -60px;
        max-width: 283px;
      }
    }
  }

  &.pic-abs-right {
    .image_container {
      position: absolute;
      right: 0;

      @include media-breakpoint-down(sm) {
        position: relative;
      }
    }
  }

  &.pic-start-right {
    img {
      width: 261px !important;
      height: auto;

      @include media-breakpoint-only(md) {
        width: 200px !important;
      }
    }
  }
}

img {
  opacity: 1;
  -webkit-animation: animationOne 1.5s;
  animation: animationOne 1.5s;
}

@-webkit-keyframes animationOne {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes animationOne {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

hr {
  margin-top: .3rem;
  margin-bottom: .3rem;
  border-top: 1px solid $gray-500;

  &.hr-wide {
    margin-top: 3rem;
    margin-bottom: 3rem;

    @include media-breakpoint-only(md) {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}

small, .small {
  font-weight: 500;
  font-family: $headings-font-family;
  font-size: 13.5px;
  line-height: 1.481;
  display: block;

  p {
    font-family: inherit;
    font-size: inherit;
  }
}

.textbox {
  z-index: 1;
  position: relative;

  .textbox-subline {
    font-weight: 600;
    font-family: $headings-font-family;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .5px;

    @include media-breakpoint-down(sm) {
      font-size: $font-size-sm;
      margin-bottom: 3px !important;
    }
  }

  &.bg-danger {
    padding: 1rem;
    color: white;

    a {
      color: white;
      margin-top: 15px;

      &::after {
        content: "\f105";
        font-family: "Font Awesome 5 Pro";
      }
    }
  }
}

/* Icon Link Box */

.icon_link_box {
  border-top: 4px solid $white;
  border-bottom: 4px solid $white;
  @extend .w-100;

  &:first-of-type {
    border-top: none;
  }

  &:last-of-type {
    border-bottom: 4px solid $white;
  }

  .gray-box {
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 22px;

    @include media-breakpoint-only(md) {
      background-image: none !important;
    }
  }

  .icon-box {
    border-left: 4px solid $white;
    background-color: $gray-700;
    color: $white;

    a {
      color: $white;
    }
  }

  &.cal-link {
    .icon-box {
      background-color: $primary;
    }
  }

  &.cal-big {
    > .row {
      height: 100px;

      > * {
        padding-bottom: 10px;
      }
    }

    .icon-box {
      font-size: 40px;
      @extend .align-items-end;

      @include media-breakpoint-only(md) {
        font-size: 35px;
      }
    }
  }

  &.cal-small {
    > .row {
      height: auto;

      > * {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }

    .icon-box {
      font-size: 19px;
      @extend .align-items-center;
    }
  }
}

/* About */

.partner {
  font-size: $font-size-sm;
  font-weight: 500;

  .partner-txt,
  .partner-txt * {
    font-family: $font-family-sans-serif !important;
    font-weight: 400 !important;
    font-size: 1rem !important;

    @include media-breakpoint-down(sm) {
      font-size: .885rem !important;
    }
  }
}


/* Bilddarstellung */

.ce_text,
.layout_latest {
  .image_container {
    margin: 0 !important;

    a {
      display: block;
    }

    img {
      @extend .w-100;
      height: auto;
    }


    &.float-left,
    &.float-right {
      max-width: 33%;
    }

    &.float-left {
      padding-right: 15px;
    }

    &.float-right {
      padding-left: 15px;
    }

    &.float_below {
      padding-top: 15px;
    }

    &.float_above {
      padding-bottom: 15px;
    }
  }
}

/* News Veröffentlichungen */

.news_veroeffentlichungen {
  .layout_latest {
    border-bottom: 2px solid $gray-200;
    padding-bottom: 30px;
    margin-bottom: 30px;

    h2 {
      margin-bottom: 0 !important;

      a {
        color: $link-color;
      }
    }

    p.info {
      margin-bottom: 15px !important;
    }

    .acc-btn {
      button {
        display: none;
        margin-top: 15px;

        &.collapsed {
          display: inline;
        }
      }
    }

    .image_container {
      > img {
        @extend .img-fluid;
      }
    }
  }
}

/* Sideboxen */

.side-grid {
  ul {
    &.level_1 {
      padding: 0;
      margin: 0;
      list-style: none;

      > li {
        padding-top: 15px;

        @include media-breakpoint-down(sm) {
          padding-top: 0;
        }

        > a,
        > strong {
          font-family: $headings-font-family;
          font-size: $h4-font-size;
          font-weight: 500;
          line-height: 30px;

          @include media-breakpoint-only(md) {
            font-size: $font-size-lg;
          }

          @include media-breakpoint-down(sm) {
            font-size: 1rem !important;
          }

          &::after {
            content: "\f105";
            font-family: "Font Awesome 5 Pro";
            font-weight: 300;
            margin-left: 10px;
          }
        }

        &.active,
        &.first {
          display: none;
        }
      }
    }
  }
}

.layout_latest {
  h2 {
    font-size: 27px;
    margin-bottom: 15px !important;
    margin-top: 25px;
  }
}

/* Kontakt */

.embedded-gmap {
  width: 100%;
  height: 400px;
}


/* Benefit */

.benefit {
  h2 {
    font-size: 2.5rem;
    font-family: $font-family-sans-serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: -0.86px;
    line-height: 1.15;

    @include media-breakpoint-only(lg) {
      font-size: 42px;
    }
    @include media-breakpoint-only(md) {
      font-size: 36px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 30px;
    }
  }
  .mb-0 {
    > p {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}


/* iconCard */

.iconcard {
  img {
    margin-top: 27px;
    width: 64px;
    height: 64px;
    margin-left: 2px;
  }
}

/* Testimonials */

.testi-logos {
  img {
    max-width: 200px;
  }
}


.rounded-lg {
  border-radius: $border-radius-lg !important;
}