$enable-responsive-font-sizes: true;


$gray-100: #ecf0f1;
$gray-200: #e9ecef;
$gray-300: #F1F1F1;
$gray-400: #d7d7d7;
$gray-500: #A3A3A3;
$gray-600: #767676;
$gray-700: #5A5A5A;

$red:     #971b2f;


$primary:       $red;
$secondary:     $gray-600;
$success:       #a1bce5;
$info:          #e1b038;
$warning:       #f8eb18;
$danger:        $primary;
$light:         #f1f1f1;
$dark:          #5a5a5a;

$mittelblau: #819DD4;
$dunkelblau: #2E3B79;
$dunkelorange: #D8913B;

$clubgrau: #89A1AA;
$clubblau: #d5e4fb;

$body-color:                $gray-700;

$link-color:                              $primary;
$link-hover-color:                        darken($link-color, 15%);
$link-hover-decoration:                   none;

$font-family-sans-serif:      "Noto Serif", serif;


$font-size-md:                18px;


$h1-font-size:                32px;
$h2-font-size:                32px;
$h3-font-size:                30px;
$h4-font-size:                20px;

$font-weight-semibold:        600;

$headings-font-family:        "Barlow", sans-serif;
$headings-font-weight:        400;

$hr-border-color:             $dark;

$input-btn-font-size:         0.875rem;

$input-btn-font-size-sm:      0.75rem;

$border-radius:               0.875rem;
$border-radius-lg:            14px;
$border-radius-sm:            .2rem;

$btn-border-radius:           $border-radius;
$btn-border-radius-lg:        $btn-border-radius;
$btn-border-radius-sm:        $btn-border-radius;

$btn-font-weight:             700; // Bold

$btn-padding-y:               .375rem;
$btn-padding-x:               2.5rem;
$btn-font-family:             $headings-font-family;
$btn-font-size:               0.875rem;
$btn-line-height:             1.5;

$btn-padding-y-sm:            .5rem;
$btn-padding-x-sm:            .5rem;

$btn-padding-y-lg:            0.85rem;
$btn-padding-x-lg:            $btn-padding-x;
$btn-font-size-lg:            16px;

$label-margin-bottom:                   .25rem;

$input-color:                           $dark;
$input-border-color:                    $success;
$input-box-shadow:                      0 0 0 4px $success;

$input-border-radius:                   5px;

$input-placeholder-color:               $dark;
$input-plaintext-color:                 $dark;
$dropdown-link-hover-bg:            $gray-100;
$dropdown-link-disabled-color:      $gray-600;

$modal-backdrop-bg:                 $success;
$modal-backdrop-opacity:            .8;
